{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb" xmlns="http://www.w3.org/1999/html">
  <li><a href="/">首页</a> </li>
  <li><a href="/article/list/{{a.block.id}}">{{a.block.name}}</a></li>
  <li class="active">{{a.title}}</li>
</ol>

<a href="/article/create/{{a.block.id}}" class="btn btn-primary">发表文章</a>
<br/>
<br/>

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="20%">作者:</th>
      <th width="80%">内容:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ a.owner }}</td>
      <td>{{ a.content }}</td>
    </tr>
  </tbody>
</table>

<br/>

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="20%">评论人：</th>
      <th width="80%">评论内容：</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in comments %}
    <tr>
      <td>{{ comment.owner }}</td>
      <td>
        {% if comment.to_comment %}
          <blockquote>
            <b>{{ comment.to_comment.owner }}:</b>
            <br/>
            {{ comment.to_comment.content|linebreaksbr }}
          </blockquote>
        {% endif %}
        {{ comment.content|linebreaksbr }}
        <a href="#replyRegion" data-id="{{ comment.id }}"
            class="replyBtn btn btn-primary pull-right">回复</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination">

    {% if pagination_data.has_previous %}
    <li>
      <a href="?page_no={{ 1 }}">首页</a>
    </li>
    <li>
      <a href="?page_no={{ pagination_data.previous_link }}">&laquo;</a>
    </li>
    {% endif %}
    {% for page_link in pagination_data.page_links %}
    {% if page_link != pagination_data.current_no %}
    <li>
      <a href="?page_no={{ page_link }}">{{ page_link }}</a>
    </li>
    {% endif %}
    {% if page_link == pagination_data.current_no %}
    <li class="active">
      <a href="?page_no={{ page_link }}">{{ page_link }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if pagination_data.has_next %}
    <li>
      <a href="?page_no={{ pagination_data.next_link }}">&raquo;</a>
    </li>
    <li>
      <a id="pag" data-p="?page_no={{ pagination_data.page_cnt }}" href="?page_no={{ pagination_data.page_cnt }}">尾页</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% if user.is_authenticated %}
<!--创建评论部分的表单-->
<div class="form-horizontal">
<div class="form-group">
  <div class="col-xs-12 col-sm-12" id="replyRegion">
    <textarea id="commentContent" class="form-control" rows="5" name="content" placeholder="内容">{{ comment.content }}</textarea>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-xs-12 col-sm-12">
    <center><button id="commentBtn"  class="btn btn-primary">发表评论</button></center>
  </div>
</div>
</div>
<br/>
<br/>
{% else %}
  <p>未登录,请先<a href="/accounts/login?next=/article/detail/{{ a.id }}">登录</a></p>
{% endif %}
<!--创建评论部分的的form表单-->
<!--创建评论部分的js请求处理-->
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.csrf.js"></script>
<script type="text/javascript">
var to_comment_id = 0;
$(".replyBtn").click(function(e){
  to_comment_id = parseInt($(e.target).attr("data-id"));
  $("#commentContent").focus();
  return false;
});

$(document).ready(function(){
  var article_id = {{ a.id }}
  $("#commentBtn").click(function(){
    var comment = $("#commentContent").val();
    var page_no = $("#pag").attr("data-p")
    var param = {"article_id":article_id, 'content':comment, 'to_comment':to_comment_id, 'page_no':page_no};
    $.post("/comment/create/", param, function(data){
      var ret = JSON.parse(data);
      if (ret["status"] == "ok"){
        alert('评论成功')
        $("#commentContent").val("");
        window.location.href = "/article/detail/{{ a.id }}?page_no=" + {{pagination_data.page_cnt}}
      } else {
          alert(ret["msg"]);
      }
    });
  })
});

</script>
<!--创建评论部分的js请求处理-->
{% endblock %}