{% extends "base.html" %}
{% block content%}

{% for field in form %}
	{% if field.errors %}
		{% for error in field.errors %}
      <div class="alret alert-danger">{{ field.label }}: {{ error }}</div>
    {% endfor %}
  {% endif %}
{% endfor %}

<div class="panel panel-info">
  <div class="panel-heading">
    <center><h3 class="panel-title">请输入注册信息</h3></center>
  </div>

  <form class="form-horizontal">
	  <div class="panel-body">
	    <div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon1">用户名</span>
	      <input type="text" class="form-control" placeholder="Username"
	             name="username" value="{{ form.username.value }}" aria-describedby="sizing-addon1">
	    </div>
	    <div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon2">密码</span>
	      <input type="text" class="form-control" placeholder="Password"
	             id="password" name="password"  aria-describedby="sizing-addon1">
	    </div>
	    <div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon3">确认密码</span>
	      <input type="text" class="form-control" placeholder="Repassword"
	             id="repassword" name="repassword"  aria-describedby="sizing-addon1">
	    </div>
	    <div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon4">邮箱</span>
	      <input type="text" class="form-control" placeholder="Email"
	             name="email" value="{{ form.email.value }}" aria-describedby="sizing-addon1">
	    </div>
	    <div>
	      <center><button class="btn btn-info">注 册</button></center>
	    </div>
	  </div>
  </form>

</div>
{% endblock %}