{% extends "base.html" %}
{% block content %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">{{ error }}</div>
	{% endfor%}
{% endif %}
{% if form.username.errors %}
	{% for error in form.uername.errors %}
	<div class="alert alert-danger">用户名：{{ error }}</div>
	{% endfor %}
{% endif %}
{% if form.password.errors %}
	{% for error in form.password.errors %}
	<div class="alert alert-danger">密码：{{ error }}</div>
	{% endfor %}
{% endif %}

<div class="panel panel-info">
  <div class="panel-heading">
    <center><h3 class="panel-title">请登录</h3></center>
  </div>

  <form class="form-horizontal" action="/accounts/login/" method="POST">{% csrf_token %}
	  <input type="hidden" name="next" value="{{ next }}"/>
	  <div class="panel-body">
	    <div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon1">用户名</span>
	      <input type="text" class="form-control" placeholder="Username"
	             id="username" name="username"  aria-describedby="sizing-addon1">
	    </div>
	    <div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon2">密码</span>
	      <input type="password" class="form-control" placeholder="Password"
	             id="password" name="password"  aria-describedby="sizing-addon1">
	    </div>

	    <div>
	      <center><button class="btn btn-info">登 录</button></center>
	    </div>
	  </div>
  </form>

</div>
<div class="col-xs-12">
	你还没有注册?  那就<a href="/registers/">去注册</a>
</div>
{% endblock %}