{% extends "base.html" %}
{% block content %}
{% if form.old_password.errors %}
  {% for error in form.old_password.errors %}
  <div class="alert alert-danger">{{ error }}</div>
	{% endfor%}
{% endif %}
{% if form.new_password1.errors %}
	{% for error in form.new_password1.errors %}
	<div class="alert alert-danger">用户名：{{ error }}</div>
	{% endfor %}
{% endif %}
{% if form.new_password2.errors %}
	{% for error in form.new_password2.errors %}
	<div class="alert alert-danger">密码：{{ error }}</div>
	{% endfor %}
{% endif %}


<div class="panel panel-info">
  <div class="panel-heading">
    <center><h3 class="panel-title">修改密码</h3></center>
  </div>

  <form class="form-horizontal" action="/accounts/password_change/" method="POST">{% csrf_token %}
	  <input type="hidden" name="next" value="{{ next }}"/>
	  <div class="panel-body">
	    <div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon1">旧密码</span>
	      <input type="text" class="form-control" placeholder="Username"
	             id="old_password" name="old_password"  aria-describedby="sizing-addon1"/>
	    </div>
	    <div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon2">新密码</span>
	      <input type="password" class="form-control"
	             id="new_password1" name="new_password1"  aria-describedby="sizing-addon1"/>
	    </div>
			<div class="input-group input-group-lg panel">
	      <span class="input-group-addon" id="sizing-addon3">确认密码</span>
	      <input type="password" class="form-control"
	             id="new_password2" name="new_password2"  aria-describedby="sizing-addon1"/>
	    </div>
	    <div>
	      <center><button class="btn btn-info">确认密码</button></center>
	    </div>
		  <div>
			  <p>
			  	<span style="float:light">你还没有注册?&nbsp;&nbsp;那就<a href="/registers/">去注册</a></span>
				  <span style="float:right"><a href="/accounts/password_reset">忘记密码</a></span>
			  </p>
		  </div>
	  </div>
  </form>

</div>
{% endblock %}