{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-10">

    {% for b in blocks %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <a class="panel-title" href="/article/list/{{b.id}}" style="font-size: 16px;">{{b.name}}</a>
        <span class="pull-right">{{b.manager_name}}</span>
      </div>
      <div class="panel-body">{{b.desc}}</div>
    </div>
    {% endfor %}

  </div>

  <div class="col-xs-12 col-md-2">
    {% if user.is_authenticated %}
      <center>
      <div class="well">
        {% if user.userprofile.avatar %}
          <img src="{{ user.userprofile.avatar }}"
               style="width:100%; height:100px;"
               all="头像" />
        {% else %}
          <a href="/usercenter/uploadavatar">
            您还没有头像，去上传
          </a>
        {% endif %}
        <p>{{ user.username }}.欢迎您来到Python技术栈<a href="message/list/"><span class="badge">{{ msg_cnt }}</span></a></p>
        <a style="float:left" href="/accounts/logout">退出</a><a style="float:right" href="/accounts/password_change/">修改密码</a>
      </div>
      </center>
    {% else%}
      <center>
      <div class="well">
        <p>匿名用户.欢迎您来到Python技术栈</p>
        <a style="float:left" href="/accounts/login">登录</a><a style="float:right" href="/registers/">注册</a>
      </div>
      </center>
    {% endif%}
  </div>

</div>
{% endblock %}
